<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.cpinfo.hl7.dao.DiagnosticReportDao">
	<!-- 新增 -->
	<insert id="creat" parameterType="map">
		<selectKey keyProperty="id" resultType="string" order="BEFORE">
			select diagnosticreport_id_seq.nextval as id FROM dual
		</selectKey>
		insert into diagnosticreport
		(
			uuid,
			id,
			version,
			text,
			identifier,
			status,
			code,
			sub,
			effect,
			issued,
			perf,
			results
		)
		values
		(
			#{uuid},
			${id},
			#{version},
			#{text},
			#{identifier},
			#{status},
			#{code},
			#{sub},
			#{effect},
			#{issued},
			#{perf},
			#{results}
		)
	</insert>
	
	<!-- 更新信息 -->
	<update id="setActive" parameterType="string">
		<!--将该id对应的记录的active改为1 -->
		update diagnosticreport set active='1' where id=#{id}
	</update>
	<insert id="update" parameterType="map">
		insert into diagnosticreport
		(
			uuid,
			id,
			version,
			text,
			identifier,
			status,
			code,
			sub,
			effect,
			issued,
			perf,
			results
		)
		values
		(
			#{uuid},
			${id},
			#{version},
			#{text},
			#{identifier},
			#{status},
			#{code},
			#{sub},
			#{effect},
			#{issued},
			#{perf},
			#{results}
		)
	</insert>
	
	<!-- 删除 -->
	<update id="delById" parameterType="string">
		update diagnosticreport
		set deleted='1'
		where id=#{value}
	</update>
	<!-- 通过id查找-->
	<select id="findById" parameterType="String" resultType="map">
		select * from diagnosticreport
		where id=#{value} and deleted = '0' and active='0'
	</select>
	<!-- 查找所有历史版本 -->
	<select id="findHisById" parameterType="String" resultType="map">
		select * from diagnosticreport
		where id=#{value} and deleted = '0'
		order by version desc
	</select>
	
	
	<!-- 通过名字查找 -->
	<select id="findByName" parameterType="string" resultType="map">
		select * from diagnosticreport
		where code like '%${value}%' and deleted = '0' and active='0'
		order by version desc
	</select>
</mapper>






